.dev-icons {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0px;
    margin-top: 0px;
}

.dev-icons > li > p:hover {
    color: #645beb;
}

.software-skill-inline {
    display: inline-block;
    margin-right: 1.5rem;
    color: #868e96;
}

.software-skill-inline:hover {
    color: #645beb;
}

.software-skill-inline > i {
    color: #868e96;
}

.software-skill-inline > i:hover {
    color: #645beb;
}

.software-skill-inline > p {
    color: #868e96;
    /*font-size: 1.2rem;*/
}

.software-skill-inline > i:hover ~ p {
    color: #645beb;
}

@media (min-width: 768px) {
    .dev-icons {
        margin-bottom: 1.5rem;
    }

    .software-skill-inline > p {
        color: #868e96;
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .dev-icons {
        margin-bottom: 1rem;
    }
    .software-skill-inline > p {
        color: #868e96;
        font-size: 1.2rem;
    }
}
